* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .css-st0g4l {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (max-width: 740px) {
  .css-1vkmudn {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 700px) {
  .css-1xhf4ur {
    flex-direction: column !important;
  }
  .css-p5b94h {
    grid-gap: 40px !important;
  }
  .css-3f901z {
    gap: 2rem !important;
  }
}

@media screen and (max-width: 635px) {
  .css-jnyipw {
    gap: 4px !important;
  }
  .css-70qvj9 svg {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .css-1u8zdct a svg {
    font-size: 20px !important;
  }
  .css-1o9g0p {
    width: 115px !important;
  }
}
